@model CarpoolingEL.AGENDA_USUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AGENDA_USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AGENDA.idAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENDA.idAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.nomeUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.nomeUsu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAgeUsu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
