@model CarpoolingEL.USUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rgUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rgUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cepUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cepUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairroUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairroUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidadeUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidadeUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ufUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ufUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celUsu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celUsu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_USUARIO.idTipoUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_USUARIO.idTipoUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
